body {
    font-family: Calibri, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-field {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttonyellow {
    background-color: yellow;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    text-align: center;
}

    .buttonyellow:hover {
        background-color: #ffd700;
    }

.buttongreen {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    text-align: center;
}

    .buttongreen:hover {
        background-color: #45a049;
    }

.buttonred {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    text-align: center;
}

    .buttonred:hover {
        background-color: #b30000;
    }

.buttonblack {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    text-align: center;
}

    .buttonblack:hover {
        background-color: #333;
    }

.buttonblue {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    text-align: center;
}

    .buttonblue:hover {
        background-color: #0000FF;
    }

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.img-large {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.form-background {
    background-color: #C59041;
    padding: 20px;
    border-radius: 5px;
}

.form-control {
    width: 200px; 
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.container .textbox-style {
    width: 200px; /* Ajusta el ancho a 150px */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    margin-bottom: 10px;
}