body {
    font-family: Calibri, sans-serif;
}

.form-field {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 20%;
    padding: 8px;
    box-sizing: border-box;
}

.buttonyellow {
    background-color: yellow;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .buttonyellow:hover {
        background-color: #ffd700;
    }

.buttongreen {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .buttongreen:hover {
        background-color: #45a049;
    }

.buttonred {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .buttonred:hover {
        background-color: #b30000;
    }

.buttonblack {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .buttonblack:hover {
        background-color: #333;
    }

.buttonblue {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .buttonblue:hover {
        background-color: #0000FF;
    }

img {
    width: 300px;
    height: 200px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-large {
    width: 300px;
    height: 400px;
}

.img-fullscreen {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.form-background {
    background-color: #C59041;
    padding: 20px;
    border-radius: 5px;
}
